<launch>
    <include file="$(find rotms_ros_comm)/launch/comm_nodes.launch"/>
    <include file="$(find rotms_ros_comm_decode)/launch/comm_decode_nodes.launch"/>
    <include file="$(find rotms_ros_robot_interface)/launch/interface_nodes.launch"/>
    <include file="$(find rotms_ros_dispatcher)/launch/dispatcher_nodes.launch"/>
    <include file="$(find rotms_ros_kinematics)/launch/kinematics_nodes.launch"/>
    <include file="$(find rotms_ros_utility)/launch/utility_nodes.launch"/>
    <include file="$(find rotms_ros_misc)/launch/misc_nodes.launch"/>
</launch>